/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
	--mobile-breakpoint: 672px;
	--tablet-breakpoint: 920px;
    --desktop-breakpoint: 1005px;
    --color-primary-light:#EFF2F5;
    --color-primary-main:#8b8a9a;
    --color-primary-dark:#302F40;
    --color-secondary-light:"";
    --color-secondary-main:"";
    --color-secondary-dark:"";
    --bg-color:#FFFFFF;

}
body
{
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
}

*:focus {
    outline: 1px solid var(--color-primary-main)
}

.center--flex
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page--body
{
    width: clamp(120px, 100%, var(--desktop-breakpoint));
    margin: 0 1.25rem;
}