/* reset css */
@use "./variables.module.scss" as var ;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
	--mobile-breakpoint: #{var.$mobile};
	--tablet-breakpoint: #{var.$tablet};
    --desktop-breakpoint: #{var.$desktop};
    --color-primary-light:#EFF2F5;
    --color-primary-main:#8b8a9a;
    --color-primary-dark:#302F40;
    --color-secondary-light:#C4E2FF;
    --color-secondary-main:#7DA8D2;
    --color-secondary-dark:#213A52;
    --bg-color-light:#FFFFFF;
    --bg-color-main:rgb(248, 248, 248);
    --bg-color-dark:#f5f5f5;

}
body
{
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color-light);
}

*:focus {
    outline: 1px solid var(--color-primary-main)
}

.center--flex
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page--body
{
    width: clamp(120px, 100%, var(--desktop-breakpoint));
    margin: 0 auto;
}
.main--card
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.default-padding-x
{
    $size:20px;
    padding-left: $size;
    padding-right: $size;
}