.cards--card
{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 10px;
    padding: 20px;
    background-color: var(--bg-color-main);
    color:var(--color-primary-dark) ;
    border: 1px solid var(--color-primary-main);
    transition: all 0.2s linear;
    .cards-card__header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &:hover
    {
        box-shadow: 10px 0px 16px 0px rgba(0,0,0,0.05);
        background-color: var(--bg-color-dark);
        transform: scale(1.02)
    }
    h1
    {
        font-size: 22px;
        font-weight: 400;
    }
    h2
    {
        color:var(--color-primary-main) ;
    }
    .cards-card__data
    {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        & h1
        {
            font-size: 72px;
            font-weight: 500;
        }
        & .cards--card-symbol
        {
            font-size: 20px;
        }
    }
    .cards-card__fotter
    {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .cards-card__header-description
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .cards-card__header img
    {
        width: 30px;
        background-color:var(--color-secondary-main);
        border-radius: 50%;
        display: flex;
    }
    .cards-card__multiple-itens
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
